<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Trends</p>
		<a class="panel-block">
			#ChampionsLeague
		</a>
		<a class="panel-block">
			#PioliOut
		</a>
		<a class="panel-block">
			#C++
		</a>
		<a class="panel-block">
			#Rails
		</a>
		<a class="panel-block">
			#Ruby
		</a>
		<a class="panel-block">
			#SunnyDay
		</a>
	</nav>
</div>